html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Montserrat', Helvetica, Arial, Sans-Serif;
  font-size: 18px;
  margin: 0;
  padding: 0; }

#app {
  margin: 0;
  padding: 0; }

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch; }

.home {
  background-image: url("/images/home_back.jpg");
  background-color: #AEF1C5;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center bottom;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .home .home-header {
    color: #fff;
    font-weight: normal;
    font-size: 84px;
    margin-top: 10px; }
  .home .home-search-bar {
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    background-color: rgba(255, 255, 255, 0.87);
    color: #000;
    padding: 20px 0;
    height: 65px;
    width: 645px;
    margin: 25% auto 0 auto;
    text-align: center; }
    .home .home-search-bar .home-search-text {
      font-size: 18px; }
    .home .home-search-bar .home-search-input {
      width: 240px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #000;
      font-size: 18px; }
    .home .home-search-bar .home-search-button {
      background-color: #FF3E00;
      border: none;
      height: 30px;
      width: 90px;
      border-radius: 2px;
      color: #fff;
      font-size: 14px;
      font-weight: normal;
      margin-left: 10px; }

.header {
  margin-bottom: 30px;
  flex: 1 100%; }
  .header .header-left {
    width: 40%;
    float: left; }
  .header .header-right {
    width: 60%;
    display: flex;
    margin-top: 20px;
    float: right;
    flex-direction: row;
    justify-content: space-around; }
  .header button {
    height: 50px;
    width: 150px;
    color: #fff;
    font-size: 24px;
    border: none;
    border-radius: 4px; }
    .header button.active {
      background-color: #178A3F; }
    .header button.inactive {
      background-color: #F36725; }
  .header .site-name {
    font-size: 24px; }
  .header .identifier {
    font-weight: normal;
    font-size: 48px;
    margin: 0; }
  .header .sub-nav {
    border-top: 1px solid #3A2D02;
    padding-top: 10px;
    clear: both; }
    .header .sub-nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      .header .sub-nav ul li {
        display: inline-block;
        margin: 0 5px;
        text-transform: capitalize; }
        .header .sub-nav ul li:first-child {
          margin-left: 0; }
        .header .sub-nav ul li:last-child {
          margin-right: 0; }
    .header .sub-nav .active {
      color: #178A3F;
      text-decoration: none; }
    .header .sub-nav .inactive {
      color: #322f65;
      text-decoration: underline; }

.text-stats {
  font-size: 18px; }
  .text-stats a {
    text-decoration: none;
    color: #3e3e3e;
    transition: color 150ms; }
    .text-stats a:visited {
      color: #3e3e3e;
      text-decoration: none;
      transition: color 150ms; }
    .text-stats a:hover, .text-stats a:active {
      color: #70684A;
      text-decoration: none;
      border-bottom: 1px solid #70684A;
      transition: color 150ms; }
  .text-stats .label {
    white-space: nowrap;
    background-color: #fff; }
  .text-stats .total-crashes {
    font-size: 92px; }
    .text-stats .total-crashes .label {
      font-size: 24px; }
  .text-stats .stat-col {
    width: 380px;
    display: inline-block;
    padding-bottom: 15px; }
    .text-stats .stat-col:last-child {
      border-left: 1px solid #dfdfdf;
      padding-left: 75px; }
    .text-stats .stat-col .type-crash-total {
      font-size: 54px;
      line-height: 20px;
      margin: 30px 0 15px 0; }
      .text-stats .stat-col .type-crash-total .label {
        font-size: 18px; }
    .text-stats .stat-col .type-total {
      font-size: 64px; }
      .text-stats .stat-col .type-total .label {
        font-size: 18px; }
    .text-stats .stat-col .break-down {
      margin: 0;
      padding: 0;
      list-style: none; }
      .text-stats .stat-col .break-down li {
        text-align: center;
        margin-top: 25px;
        display: inline-block;
        text-transform: capitalize; }
        .text-stats .stat-col .break-down li:nth-child(even) {
          margin: 25px 26px 0 26px; }
      .text-stats .stat-col .break-down .total {
        font-size: 36px;
        display: block; }

.bar-graph .bar {
  fill: #000; }
.bar-graph .city {
  fill: #CE1416; }
.bar-graph .borough {
  fill: #58CE31; }
.bar-graph .selected {
  fill: #4646CE; }

.axis {
  fill: none;
  stroke: #dfdfdf;
  shape-rendering: crispEdges; }
  .axis text {
    fill: #000;
    stroke: none;
    stroke-weight: 0; }
  .axis.x {
    font-size: 12px; }
  .axis.y {
    font-size: 14px; }

.graph-title {
  font-weight: normal;
  font-size: 36px; }

.line-graph-modal .year-line {
  fill: none;
  stroke: #000;
  stroke-width: 2px; }
.line-graph-modal .year-hover {
  fill: transparent; }

#map {
  height: 720px;
  width: 65%;
  flex: 3 0px; }

.stats {
  flex: 1 auto; }

.factor-list {
  list-style: none;
  margin: 30px 15px;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap; }
  .factor-list .factor {
    width: 355px;
    flex: 1 0 auto;
    padding: 5px 7px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    transition: background-color 20ms; }
    .factor-list .factor:hover {
      background-color: #E0DBFF;
      transition: background-color 20ms; }
    .factor-list .factor a {
      text-decoration: none;
      color: #322F65;
      display: flex;
      flex: 1 1 auto;
      text-transform: capitalize; }
  .factor-list .name {
    flex: 2 2 auto;
    padding-right: 5px; }
  .factor-list .count {
    flex: 1 0 auto;
    text-align: right; }

.tool-tip {
  padding: 10px 25px;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  font-size: 1.25rem;
  position: absolute;
  display: none;
  text-transform: capitalize; }
