body {
  font-family: 'Open Sans', Helvetica, Arial, Sans-Serif; }

.container {
  width: 90%;
  margin: 0 auto; }

.bar-graph .bar {
  fill: #000; }
.bar-graph .city {
  fill: #CE1416; }
.bar-graph .borough {
  fill: #58CE31; }
.bar-graph .selected {
  fill: #4646CE; }

.axis {
  fill: none;
  stroke: #dfdfdf;
  shape-rendering: crispEdges; }
  .axis text {
    fill: #000;
    stroke: none;
    stroke-weight: 0; }
  .axis.x {
    font-size: 12px; }
  .axis.y {
    font-size: 14px; }

.line-graph-modal .year-line {
  fill: none;
  stroke: #000;
  stroke-width: 2px; }
.line-graph-modal .year-hover {
  fill: transparent; }
